@import url(header.css);

h1 {
  font-size: 3em;
  line-height: 1;
  padding-bottom: 5%;
  margin-bottom: -5%;
}

#banner {
  font-size: 3em;

  border-radius: 0% 0% 20% 20%;
  margin-top: 0%;
  margin-bottom: 5%;

  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#cf2c2c, #198d2852);
}

#content {
  background-image: linear-gradient(#198d28, #548dcf);
  margin: 1% 10%;
  border-radius: 15%;
}

/********************/
/* Portrait section */
.portrait-row {
  display: flex;
  gap: 3%;
  margin-top: 5%;
  justify-content: center;
}

.portrait {
  display: flex;
  flex-direction: column;
  width: 25%;
  font-size: 2.3em;
}

.portrait img {
  width: 100%; /* Ser till så att alla bilder fyller upp hela portrait 
  (som är 25% av raden) istället för att bero på bildens ursprungsmått*/
}

.portrait h3,
h4 {
  margin-top: -10px;
}

.portrait img {
  border-radius: 40%; /* Testa andra värden */
}

/* ---------------- */
/********************/
