body {
  background-image: url(assets/schack.jpg);
  font-family: Verdana;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

#banner {
  background-color: #837d7d;
  border-radius: 45% 0%;
  margin-top: 2%;
}

p {
  text-align: center;
  /* height: 50px; */
}

#content {
  background-color: cornflowerblue;
  margin: 200px;
  margin-top: 0px;
  margin-left: 197px;
}

/********************/
/* Portrait section */
.portrait-row {
  display: flex;
  padding: 1%;
  gap: 1%;
}

.portrait {
  display: flex;
  flex-direction: column;
  width: 19%;
  font-size: 1.5em;
}

.portrait h3,
h4 {
  margin-top: -10px;
}

.portrait img {
  border-radius: 50%;
}

.portrait p {
  max-height: 15em;
  overflow: auto;
  text-align: left;
  margin-left: 1em;

  margin-top: 0.5em;
  margin-bottom: 0em;
}

.portrait li {
  margin-left: 2em;
}

/* ---------------- */
/********************/
